<div
  class="modal"
  id="ruleMergeModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="ruleMergeModalLabel"
  aria-hidden="true"
  data-backdrop="static"
>
  <div class="modal-dialog modal-lg-merge">
    <div class="modal-content">
      <div class="modal-header">
        <span class="modal-title" id="ruleMergeModalLabel"
          ><spring:message code="requestRuleSet.RuleMergeTitle"
        /></span>
      </div>
      <div class="modal-body">
        <div id="ruleSetsPreview" class="tab-pane fade in active">
          <span><spring:message code="provisionRules" /></span>
          <table id="modalProvisionTable" class="display modalTable">
            <thead>
              <tr>
                <th class="info">
                  <input
                    type="checkbox"
                    id="checkAllProvision"
                    name="checkAllProvision"
                    ON-CHANGE="checkAll(this)"
                  /><label for="checkAllProvision"></label>
                </th>
                <th><spring:message code="requestRuleSet.ruleId" /></th>
                <th><spring:message code="requestRuleSet.status" /></th>
                <th><spring:message code="requestRuleSet.srcZone" /></th>
                <th><spring:message code="requestRuleSet.dstZone" /></th>
                <th><spring:message code="requestRuleSet.srcAddr" /></th>
                <th><spring:message code="requestRuleSet.dstAddr" /></th>
                <th><spring:message code="requestRuleSet.service" /></th>
                <th><spring:message code="requestRuleSet.action" /></th>
                <th><spring:message code="requestRuleSet.ruleOrderSet" /></th>
                <th><spring:message code="requestRuleSet.ruleId" /></th>
                <!--request rule ID -->
              </tr>
            </thead>
            <tbody></tbody>
          </table>
        </div>
        <div id="similarRulePreview" class="tab-pane fade in active">
          <span id="similarRuleTitle"
            ><spring:message code="requestRuleSet.similarRuleList"
          /></span>
          <table id="similarRuleTable" class="display modalTable">
            <thead>
              <tr>
                <th class="info">
                  <input
                    type="checkbox"
                    id="checkAllSimilar"
                    name="checkAllSimilar"
                    ON-CHANGE="checkAll(this)"
                  /><label for="checkAllSimilar"></label>
                </th>
                <th style="width: 15%" id="ruleId">
                  <spring:message code="requestRuleSet.ruleId" />
                </th>
                <th style="width: 25%" id="provisionRuleIds">
                  <spring:message code="requestRuleSet.provisionRuleId" />
                </th>
                <th style="width: 20%" id="srcAddr">
                  <spring:message code="requestRuleSet.srcAddr" />
                </th>
                <th style="width: 20%" id="dstAddr">
                  <spring:message code="requestRuleSet.dstAddr" />
                </th>
                <th style="width: 15%" id="service">
                  <spring:message code="requestRuleSet.service" />
                </th>
              </tr>
            </thead>
            <tbody></tbody>
          </table>
        </div>
        <hr />
        <div id="mergedRulePreview" class="tab-pane fade in active">
          <span id="mergeRuleTitle"><spring:message code="requestRuleSet.mergeRuleList" /></span>
          <table id="previewRuleTable" class="display modalTable">
            <thead>
              <tr>
                <th class="info">
                  <input
                    type="checkbox"
                    id="checkAllPreview"
                    name="checkAllPreview"
                    ON-CHANGE="checkAll(this)"
                  /><label for="checkAllPreview"></label>
                </th>
                <th style="width: 15%"><spring:message code="requestRuleSet.ruleId" /></th>
                <th style="width: 25%"><spring:message code="requestRuleSet.provisionRuleId" /></th>
                <th style="width: 20%"><spring:message code="requestRuleSet.srcAddr" /></th>
                <th style="width: 20%"><spring:message code="requestRuleSet.dstAddr" /></th>
                <th style="width: 15%"><spring:message code="requestRuleSet.service" /></th>
              </tr>
            </thead>
            <tbody></tbody>
          </table>
        </div>
        <div class="modal-footer">
          <span id="NewPolicyModalError"></span>
          <input
            type="button"
            class="btn btnModalDefault btn-sm"
            data-dismiss="modal"
            value="<spring:message code='closeBtn'/>"
          />
          <input
            type="button"
            class="btn btnModalDefault btn-sm"
            value="<spring:message code='requestRuleSet.executeMerge'/>"
          />
        </div>
      </div>
    </div>
  </div>

  <script type="text/javascript">
    function initRuleMergeModal(checkedPRIds) {
      modalProvisionRuleFormView.init(checkedPRIds);
      SimilarRuleTable = $('#similarRuleTable').dataTable();
      PreviewRuleTable = $('#previewRuleTable').dataTable();
    }

    function checkAll(allcheckbox) {
      var checkobject = $(allcheckbox).parents('.dataTables_scrollHead').next().find('.check');
      if (allcheckbox.checked) {
        checkobject.prop('checked', true);
      } else {
        checkobject.prop('checked', false);
      }
    }

    function checkProvisionIds() {
      var checkedmodalPRIds = [];
      $("input[name='checkProvision']:checked").each(function () {
        checkedmodalPRIds.push(this.id.substr(1));
      });
      return checkedmodalPRIds;
    }

    function similarCheckBox() {
      var query = $("input:checkbox[name='similarRuleCheck']:checked").length;
      return query;
    }

    function similarTableToJson() {
      var table = $('#similarRuleTable');
      var rows = [];
      var header = [];
      var th = table.find('thead th');

      for (var index = 1; index < th.length; index++) {
        header.push(th[index].getAttribute('id'));
      }

      var tr = table.find('tbody tr');
      tr.each(function (item) {
        var row = {};
        var td = $(this).find('td');
        if ($('.check', this).prop('checked')) {
          for (var index = 1; index < td.length; index++) {
            var key = header[index - 1];
            var value = td[index].innerHTML.replace(/<br>/g, ',');
            row[key] = value;
          }
          rows.push(row);
        }
      });

      var FwRuleInfoViewVos = rows;

      return FwRuleInfoViewVos;
    }

    var modalProvisionRuleFormView = {
      showModalProvisionTable: function (checkedPRIds) {
        var tableDiv = $('#modalProvisionTable');

        var subUrl =
          ApplicationConfig.getDomainEntityCollectionUrl('requestRuleSets') +
          '/getSelectedProvisionRules';
        var location_split = location.href.split('/');
        var iconUrl =
          location_split[0] +
          '//' +
          location_split[2] +
          '/' +
          location_split[3] +
          '/' +
          location_split[4] +
          '/images';

        modalProvisionTable = tableDiv.dataTable({
          bJQueryUI: false,
          bProcessing: true,
          sAjaxSource: subUrl,
          aoColumns: [
            {
              sWidth: '56',
              bSortable: false,
              aTargets: [0],
              mData: null,
              sClass: 'data-cell checkboxColumn',
              mRender: function (data, type, full) {
                var returnStr = '';
                returnStr =
                  '<input type="checkbox" name="checkProvision" class="check" style="cursor:pointer;" id="m' +
                  String(data).split(',', 1) +
                  '"/><label for="m' +
                  String(data).split(',', 1) +
                  '"></label>';
                return returnStr;
              },
            },
            { bVisible: true }, // RuleId
            {
              bVisible: true, // status
              sClass: 'center',
            },
            { bVisible: false }, //srcZone
            { bVisible: false }, //dstZone
            { bVisible: true }, //Source(Address)
            { bVisible: true }, //Destination(Address)
            { bVisible: true, sClass: 'center' }, //service
            {
              bVisible: true, //action
              sClass: 'center',
            },
            {
              bVisible: false, //"Order"
              sClass: 'center',
            },
            { bVisible: false },
          ],
          sPaginationType: 'full_numbers',
          oLanguage: {
            sProcessing: 'Processing...',
            sLengthMenu:
              '<select>' +
              '<option value="10">' +
              jQuery.i18n.prop('common.paging10') +
              '</option>' +
              '<option value="25">' +
              jQuery.i18n.prop('common.paging25') +
              '</option>' +
              '<option value="50">' +
              jQuery.i18n.prop('common.paging50') +
              '</option>' +
              '<option value="100">' +
              jQuery.i18n.prop('common.paging100') +
              '</option>' +
              '</select>',
            sZeroRecords: jQuery.i18n.prop('common.dataTableZeroRecords'), //"No matching records found",
            sEmptyTable: jQuery.i18n.prop('common.dataTableNoData'), // "No data available in table",
            sLoadingRecords: 'Loading...',
            sInfo: 'All _TOTAL_',
            sInfo: 'ProvisionRules : ' + checkedPRIds.length,
            sInfoEmpty: 'All 0',
            sInfoFiltered: '(filtered from _MAX_ total entries)',
            sInfoPostFix: '',
            sInfoThousands: ',',
            sSearch: 'Search:',
            sUrl: '',
            oPaginate: {
              sFirst: "<img src='" + iconUrl + "/icon-first.png' alt='first page'>",
              sPrevious: "<img src='" + iconUrl + "/icon-left.png' alt='Previous page'>",
              sNext: "<img src='" + iconUrl + "/icon-right.png' alt='next page'>",
              sLast: "<img src='" + iconUrl + "/icon-last.png' alt='last page'>",
            },
          },
          bLengthChange: true,
          bFilter: true,
          bInfo: true,
          bAutoWidth: false,
          sScrollX: '100%',
          sScrollXInner: '100%',
          bScrollCollapse: true,
          bScrollAutoCss: true,
          //"bRetrieve": true,
          aaSorting: [[1, 'asc']],
          fnDrawCallback: function (oSettings) {},
          sDom: '<"datatable-top"il>rt<"datatable-bottom"p><"clear">',
          fnServerData: function (sUrl, aoData, fnCallback, oSettings) {
            oSettings.jqXHR = $.ajax({
              type: 'POST',
              url: sUrl,
              data: { checkedPRIds: checkedPRIds },
              success: function (json) {
                fnCallback(json);
              },
              dataType: 'json',
              cache: false,
            });
          },
        });
      },
      init: function (checkedPRIds) {
        modalProvisionRuleFormView.showModalProvisionTable(checkedPRIds);

        $('#checkAllProvision').prop('checked', false);
      },
    };

    var modalSimilarRuleFormView = {
      showModalSimilarTable: function (checkedmodalPRIds, chkSrcAddr, chkDstAddr, chkService) {
        if (Array.isArray(checkedmodalPRIds)) {
          checkedmodalPRIds = checkedmodalPRIds.join(',');
        }

        var subUrl =
          ApplicationConfig.getDomainEntityCollectionUrl('requestRuleSets') + '/searchSimilarRules';
        var location_split = location.href.split('/');
        var iconUrl =
          location_split[0] +
          '//' +
          location_split[2] +
          '/' +
          location_split[3] +
          '/' +
          location_split[4] +
          '/images';

        SimilarRuleTable = $('#similarRuleTable').dataTable({
          bJQueryUI: false,
          bProcessing: true,
          sAjaxSource: subUrl,
          aoColumns: [
            {
              sWidth: '56',
              bSortable: false,
              aTargets: [0],
              mData: null,
              sClass: 'data-cell checkboxColumn',
              mRender: function (data, type, full) {
                var returnStr = '';
                returnStr =
                  '<input type="checkbox" name="checkSimilar" class="check" style="cursor:pointer;" id="s' +
                  data.provisionRuleIds +
                  '"/><label for="s' +
                  data.provisionRuleIds +
                  '"></label>';
                return returnStr;
              },
            },
            { mDataProp: 'ruleId', sWidth: '15%' },
            {
              mDataProp: 'provisionRuleIds',
              sWidth: '25%',
              mRender: function (data, type, full) {
                var returnStr = '';
                var prArray = data.split(',');
                returnStr += prArray[0];
                for (var i = 1; i < prArray.length; i++) {
                  returnStr += '<br>' + prArray[i];
                }
                return returnStr;
              },
            },
            { mDataProp: 'srcAddr', sWidth: '20%' },
            { mDataProp: 'dstAddr', sWidth: '20%' },
            { mDataProp: 'service', sWidth: '15%' },
          ],
          //"fnCreatedRow" : createdRowCallback,
          sPaginationType: 'full_numbers',
          oLanguage: {
            sProcessing: 'Processing...',
            sLengthMenu:
              '<select>' +
              '<option value="10">' +
              jQuery.i18n.prop('common.paging10') +
              '</option>' +
              '<option value="25">' +
              jQuery.i18n.prop('common.paging25') +
              '</option>' +
              '<option value="50">' +
              jQuery.i18n.prop('common.paging50') +
              '</option>' +
              '<option value="100">' +
              jQuery.i18n.prop('common.paging100') +
              '</option>' +
              '</select>',
            sZeroRecords: jQuery.i18n.prop('common.dataTableZeroRecords'), //"No matching records found",
            sEmptyTable: jQuery.i18n.prop('common.dataTableNoData'), // "No data available in table",
            sLoadingRecords: 'Loading...',
            sInfo: 'All _TOTAL_',
            //"sInfo" : "RuleSet : " + data.length + ", Firewall Rule : _TOTAL_",
            sInfoEmpty: 'All 0',
            sInfoFiltered: '(filtered from _MAX_ total entries)',
            sInfoPostFix: '',
            sInfoThousands: ',',
            sUrl: '',
            oPaginate: {
              sFirst: "<img src='" + iconUrl + "/icon-first.png' alt='first page'>",
              sPrevious: "<img src='" + iconUrl + "/icon-left.png' alt='Previous page'>",
              sNext: "<img src='" + iconUrl + "/icon-right.png' alt='next page'>",
              sLast: "<img src='" + iconUrl + "/icon-last.png' alt='last page'>",
            },
          },
          bLengthChange: true,
          bFilter: true,
          bInfo: true,
          bAutoWidth: false,
          sScrollX: '100%',
          sScrollXInner: '100%',
          bScrollCollapse: true,
          bScrollAutoCss: true,
          //"bRetrieve": true,
          aaSorting: [[1, 'asc']],
          fnDrawCallback: function (oSettings) {},
          sDom: '<"datatable-top"il>rt<"datatable-bottom"p><"clear">',
          fnServerData: function (sUrl, aoData, fnCallback, oSettings) {
            oSettings.jqXHR = $.ajax({
              type: 'POST',
              url: sUrl,
              data: {
                checkedPRIds: checkedmodalPRIds,
                checkSrcAddr: chkSrcAddr,
                checkDstAddr: chkDstAddr,
                checkService: chkService,
              },
              success: function (json) {
                fnCallback(json);
              },
              dataType: 'json',
              cache: false,
            });
          },
        });
      },

      init: function (checkedmodalPRIds, chkSrcAddr, chkDstAddr, chkService) {
        modalSimilarRuleFormView.showModalSimilarTable(
          checkedmodalPRIds,
          chkSrcAddr,
          chkDstAddr,
          chkService
        );

        $("input[name='checkProvision']").prop('checked', false);
        $('#checkAllProvision').prop('checked', false);

        if ($('#previewRuleBtn')) {
          $('#previewRuleBtn').remove();
          $('#similarRulePreview').append(
            '&nbsp;&nbsp;<button id="previewRuleBtn" class="btn btnDefault btn-sm float-right" ' +
              'style="margin: 0px; margin-right: 3px;" data-placement="top"><spring:message code="requestRuleSet.preview"/></button>'
          );
        } else {
          $('#similarRulePreview').append(
            '&nbsp;&nbsp;<button id="previewRuleBtn" class="btn btnDefault btn-sm float-right" ' +
              'style="margin: 0px; margin-right: 3px;" data-placement="top"><spring:message code="requestRuleSet.preview"/></button>'
          );
        }

        $('#checkAllSimilar').prop('checked', false);

        $('#previewRuleBtn').click(function () {
          var FwRuleInfoViewVos = similarTableToJson();

          if (similarCheckBox() > 1) {
            if (checkProvisionIds().length > 0 && FwRuleInfoViewVos.length > 0) {
              modalPreviewRuleFormView.init(
                checkProvisionIds(),
                chkSrcAddr,
                chkDstAddr,
                chkService,
                FwRuleInfoViewVos
              );
            }
          }
        });
      },
    };

    var modalPreviewRuleFormView = {
      showModalPreviewTable: function (
        checkedmodalPRIds,
        chkSrcAddr,
        chkDstAddr,
        chkService,
        fwRuleInfoViewVos
      ) {
        if (Array.isArray(checkedmodalPRIds)) {
          checkedmodalPRIds = checkedmodalPRIds.join(',');
        }

        var subUrl =
          ApplicationConfig.getDomainEntityCollectionUrl('requestRuleSets') +
          '/previewSimilarRules?checkedPRIds=' +
          checkedmodalPRIds +
          '&checkSrcAddr=' +
          chkSrcAddr +
          '&checkDstAddr=' +
          chkDstAddr +
          '&checkService=' +
          chkService;
        var location_split = location.href.split('/');
        var iconUrl =
          location_split[0] +
          '//' +
          location_split[2] +
          '/' +
          location_split[3] +
          '/' +
          location_split[4] +
          '/images';

        PreviewRuleTable = $('#previewRuleTable').dataTable({
          bJQueryUI: false,
          bProcessing: true,
          sAjaxSource: subUrl,
          aoColumns: [
            {
              sWidth: '56',
              bSortable: false,
              aTargets: [0],
              mData: null,
              sClass: 'data-cell checkboxColumn',
              mRender: function (data, type, full) {
                var returnStr = '';
                returnStr =
                  '<input type="checkbox" name="checkPreview" class="check" style="cursor:pointer;" id="p' +
                  data.provisionRuleIds +
                  '"/><label for="p' +
                  data.provisionRuleIds +
                  '"></label>';
                return returnStr;
              },
            },
            { mDataProp: 'ruleId', sWidth: '15%' },
            {
              mDataProp: 'provisionRuleIds',
              sWidth: '25%',
              mRender: function (data, type, full) {
                var returnStr = '';
                var prArray = data.split(',');
                returnStr += prArray[0];
                for (var i = 1; i < prArray.length; i++) {
                  returnStr += '<br>' + prArray[i];
                }
                return returnStr;
              },
            },
            { mDataProp: 'srcAddr', sWidth: '20%' },
            { mDataProp: 'dstAddr', sWidth: '20%' },
            { mDataProp: 'service', sWidth: '15%' },
          ],
          //"fnCreatedRow" : createdRowCallback,
          sPaginationType: 'full_numbers',
          oLanguage: {
            sProcessing: 'Processing...',
            sLengthMenu:
              '<select>' +
              '<option value="10">' +
              jQuery.i18n.prop('common.paging10') +
              '</option>' +
              '<option value="25">' +
              jQuery.i18n.prop('common.paging25') +
              '</option>' +
              '<option value="50">' +
              jQuery.i18n.prop('common.paging50') +
              '</option>' +
              '<option value="100">' +
              jQuery.i18n.prop('common.paging100') +
              '</option>' +
              '</select>',
            sZeroRecords: jQuery.i18n.prop('common.dataTableZeroRecords'), //"No matching records found",
            sEmptyTable: jQuery.i18n.prop('common.dataTableNoData'), // "No data available in table",
            sLoadingRecords: 'Loading...',
            sInfo: 'All _TOTAL_',
            //"sInfo" : "RuleSet : " + data.length + ", Firewall Rule : _TOTAL_",
            sInfoEmpty: 'All 0',
            sInfoFiltered: '(filtered from _MAX_ total entries)',
            sInfoPostFix: '',
            sInfoThousands: ',',
            sUrl: '',
            oPaginate: {
              sFirst: "<img src='" + iconUrl + "/icon-first.png' alt='first page'>",
              sPrevious: "<img src='" + iconUrl + "/icon-left.png' alt='Previous page'>",
              sNext: "<img src='" + iconUrl + "/icon-right.png' alt='next page'>",
              sLast: "<img src='" + iconUrl + "/icon-last.png' alt='last page'>",
            },
          },
          bLengthChange: true,
          bFilter: true,
          bInfo: true,
          bAutoWidth: false,
          sScrollX: '100%',
          sScrollXInner: '100%',
          bScrollCollapse: true,
          bScrollAutoCss: true,
          //"bRetrieve": true,
          aaSorting: [[1, 'asc']],
          fnDrawCallback: function (oSettings) {},
          sDom: '<"datatable-top"il>rt<"datatable-bottom"p><"clear">',
          fnServerData: function (sUrl, aoData, fnCallback, oSettings) {
            oSettings.jqXHR = $.ajax({
              type: 'POST',
              url: sUrl,
              contentType: 'application/json',
              data: JSON.stringify(fwRuleInfoViewVos),
              success: function (json) {
                fnCallback(json);
              },
              dataType: 'json',
              cache: false,
            });
          },
        });
      },

      init: function (checkedmodalPRIds, chkSrcAddr, chkDstAddr, chkService, FwRuleInfoViewVos) {
        PreviewRuleTable.fnClearTable();
        PreviewRuleTable.fnDestroy();

        modalPreviewRuleFormView.showModalPreviewTable(
          checkedmodalPRIds,
          chkSrcAddr,
          chkDstAddr,
          chkService,
          FwRuleInfoViewVos
        );

        $('#checkAllPreview').prop('checked', false);
      },
    };

    $(document).ready(function () {
      var chkSrcAddr = false;
      var chkDstAddr = false;
      var chkService = false;

      $('#similarRuleTitle')
        .append(
          '&nbsp;&nbsp;<input type="checkbox" id="checkSrcAddr" name="similarRuleCheck" style="cursor:pointer;"><spring:message code="requestRuleSet.checkSrcAddr"/>'
        )
        .append(
          '&nbsp;&nbsp;<input type="checkbox" id="checkDstAddr" name="similarRuleCheck" style="cursor:pointer;"><spring:message code="requestRuleSet.checkDstAddr"/>'
        )
        .append(
          '&nbsp;&nbsp;<input type="checkbox" id="checkService" name="similarRuleCheck" style="cursor:pointer;"><spring:message code="requestRuleSet.checkService"/>'
        )
        .append(
          '&nbsp;&nbsp;<button id="showSimilarRuleBtn" class="btn btnDefault btn-sm float-left" style="margin: 0px; margin-right: 3px;" data-placement="top"/><spring:message code="common.search"></button>'
        );

      $('#checkSrcAddr').click(function () {
        var checked = $(this).is(':checked');
        chkSrcAddr = checked;
      });

      $('#checkDstAddr').click(function () {
        var checked = $(this).is(':checked');
        chkDstAddr = checked;
      });

      $('#checkService').click(function () {
        var checked = $(this).is(':checked');
        chkService = checked;
      });

      $('#showSimilarRuleBtn').click(function () {
        if (similarCheckBox() > 1) {
          if (checkProvisionIds().length > 0) {
            SimilarRuleTable.fnClearTable();
            SimilarRuleTable.fnDestroy();
            modalSimilarRuleFormView.init(checkProvisionIds(), chkSrcAddr, chkDstAddr, chkService);
          } else {
            alert("<spring:message code='requestRuleSet.countCheckBox'/>");
          }
        } else {
          alert('skdfjk');
        }
      });

      $('#ruleMergeModal').on('hide.bs.modal', function (e) {
        $('#previewRuleListBtn').remove();
        $("input:checkbox[name='similarRuleCheck']").prop('checked', false);
        PreviewRuleTable.fnClearTable();
        PreviewRuleTable.fnDestroy();
        SimilarRuleTable.fnClearTable();
        SimilarRuleTable.fnDestroy();
        modalProvisionTable.fnClearTable();
        modalProvisionTable.fnDestroy();
      });
    });
  </script>
</div>
